{% extends "base.html" %}

{% block content %}
<div class="faq">
    <h1>Hvordan bestiller jeg cupcakes?</h1>
    <p>Du trykker Bestille kaker i topp navigasjonsbaren deretter tar du og fyller inn alle feltene og trykker "Send bestilling". Når du har gjort dette vil du bli ført til en ny side som vil fortelle deg at bestillingen var suksessfull og at du må vente en kort stund på en epost med en bekreftelsesmelding. Hvis du mottar denne bekreftelsesmeldingen vil det bety at du vil motta din bestilling med cupcake snart.</p>
    <h1>Kan jeg bestille flere cupcakes med forskjellige smaker?</h1>
    <p>Akkurat nå er det ikke en funksjon på nettsiden for å bestille flere smaker på en bestilling, men du har alltid lov til å sende flere bestillinger med diverse smaker.</p>
    <h1>Kan jeg lese info generelt om bedriften?</h1>
    <p>Ja, hvis du ønsker å lese litt info om bedriften vår inkludert vår adresse, kan du trykke på hjem øverst i navigasjonsbaren hvor du vil bli presentert info om oss.</p>
</div>
{% endblock %}