{% extends "base.html" %}

{% block content %}
<div class="background">
    <div class="container">
        <h1>Cupcakes til salgs!</h1>
        <p>Velkommen til Sukkerdrøm Bakeri — et lite, rosa bakeri fylt med ferske cupcakes, myke cookies og søte fristelser laget med kjærlighet. Hos oss finner du både klassiske favoritter og sesongens spesialiteter.
Bestill våre ferske produkter i nettbutikken og få varene levert rett på døra, eller hent dem i vår butikk i Pilestredet 56. Velg blant våre bestselgere, eller sett sammen din egen cupcake med smak, topping og pynt akkurat slik du ønsker.<br>
Vi baker ferskt hver dag og bruker kun kvalitetsingredienser for å gi deg den perfekte søte opplevelsen.
        </p>
    </div>
</div>
{% endblock %}