{% extends "base_admin.html" %}

{% block content %}
<div class="manual">
    <h1>Hvordan svare på bestillinger</h1>
    <p>Når det er bestillinger du må svare på så kommer du til å finne de nedover i admin dashboardet.</p>
    <img src="/static/img/dashboard.png" alt="bilde av dashboard med bestilling">
    <p>Bestillinger kommer til å se ut som på bildet over. Hvis bestillingen ser troverdig ut og noe som vi klarer å lage her på bakeriet kan du velge å godkjenne ordren. <br> Dette gjør du ved å velge drop down menyen ved siden av teksten der det står "Godkjenn eller avslå ordre".</p>
    <img src="/static/img/image.png" alt="bilde av dashboard med mulighet til å akkseptere eller avslå ordre">
    <p>Du velger "Godkjenn" før du trykker på bekreft kanppen til høyre. Dette vil sende en bekreftelsesmelding til kunden om at orderen deres er bekreftet.</p>
</div>
{% endblock %}